#annotation_view{
    border: 1px solid palegreen;
}

#imgToModify{
    height: 95%;
    border: 1px solid rgb(24, 196, 24);
    text-align: center;
}

#img_annotation{
    margin-top: 10%;
    border: 1px solid pink;
}
#toolbox{
    height: 25%;
    border: 1px solid blueviolet;

}



div.palette {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: rgba(202,202,202,0.7);
	cursor: default;
	position: absolute;
	opacity: 1;
    z-index: 100;
}

div.palette:hover {
	opacity: 1;
}

div.palette p {
	margin: 0 0 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

/* @end */

/* @group Toolbar */



#toolbar a {
	margin: 0 5px 0 0;
	text-indent: -1000px;
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	cursor: default;
	opacity: 0.2;
}

#toolbar a.active {
	opacity: 1;
	border: transparent;
}

#toolbar .rectangle {
	background-image: url(../img/palette_img/rectangle.svg);
	background-size: 100% 100%;
}

#toolbar .ellipse {
	background-image: url(../img/palette_img/ellipse.svg);
	background-size: 100% 100%;
}

#toolbar .path {
	background-image: url(../img/palette_img/draw.svg);
	background-size: 100% 100%;
	margin-right: 0;
}

#toolbar div.buttons {
	float: left;
	padding-left: 5px;
}

#toolbar .buttons button {
	background-image: url(../img/palette_img/delete.svg);
	background-size: 100% 100%;
	background-color: transparent;
	border: none; /* Remove borders */
	display: block;
	width: 100px;
	height: 100px;
}

#toolbar .buttons button:active {
	background-color: orchid;
}

#toolbar .buttons button:last-child {
	margin-bottom: 0;
}

/* @end */


/* @group Styler */

#styler {
	left: 70%;
}

#styler p {
	margin: 0 0 5px;
	text-align: center;
	font-size: 12px;
}

#styler label {
	text-align: left;
	font-size: 12px;
	display: block;
	margin: 7px 0 0;
}

#styler input.stroke-width {
	width: 76px;
}



/* @end */
