#imgToModify{
    height: 95%;
    text-align: center;
}

#img_annotation{
    margin-top: 10%;
    border: 1px solid pink;
}
#toolbox{
    height: 25%;
}



div.palette {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: transparent;
	cursor: default;
	position: absolute;
	opacity: 1;
    z-index: 100;
	padding-top: 25%;
}

div.palette:hover {
	opacity: 1;
}

.stroke-width{
	-webkit-appearance: none;
	width: 500%;
	height: 15px;
	border-radius: 5px;
	outline: none;
	opacity: 1;
	-webkit-transition: .2s;
	transition: opacity .2s;

}

#slider{
	padding-top: 25%;
	padding-bottom: 25%;
}

#id_slider{
	padding-bottom: 10%;
	color: white;
	font-size: 15px;

}
.stroke-width::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #5bc3da;
	cursor: pointer;
}

div.palette p {
	margin: 0 0 5px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

/* @end */

/* @group Toolbar */



#toolbar a {
	margin: 0 5px 0 0;
	text-indent: -1000px;
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	cursor: default;
	opacity: 0.2;
}

#toolbar a.active {
	opacity: 1;
	border: transparent;
}

#toolbar .rectangle {
	background-image: url(../img/palette_img/rectangle.svg);
	background-size: 100% 100%;
}

#toolbar .ellipse {
	background-image: url(../img/palette_img/ellipse.svg);
	background-size: 100% 100%;
}

#toolbar .path {
	background-image: url(../img/palette_img/draw.svg);
	background-size: 100% 100%;
	margin-right: 0;
	opacity: 1;
}
#toolbar .path.active {
	background-image: url(../img/palette_img/draw_selected.svg);
	background-size: 100% 100%;
	margin-right: 0;
}

#toolbar div.buttons {
	float: left;
	padding-left: 5px;
}

#toolbar .buttons button {
	background-image: url(../img/palette_img/delete.svg);
	background-size: 100% 100%;
	background-color: transparent;
	border: none; /* Remove borders */
	display: block;
	width: 100px;
	height: 100px;
}

#toolbar .buttons button:active {
	background-color: orchid;
}

#toolbar .buttons button:last-child {
	margin-bottom: 0;
}

/* @end */


/* @group Styler */

#styler {
	left: 70%;
	width: 200px;
}

#styler p {
	margin: 0 0 5px;
	text-align: center;
	font-size: 12px;
}





/* @end */
