#outer-dropzone {
    height: 80px;
    width:  100%;
    touch-action: none;

}

#info_dnd {
    align: center;
    display: inline;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px ;
    border-radius: 4px;
    width: 80%;
    transition: background-color 0.3s;
    verticala-lign: middle;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    display: inline-block;
    width: 40px;
    padding: 2em 0.5em;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

.drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
}
